*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
    background: linear-gradient(#404040, #151415);
}
.banner::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 200px;
    width: 400px;
    height: 320px;
    background: #fa215e;
    z-index: 1;
    transition: 1s;
}
.banner.active:before{
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #151415;
}
.banner::after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 90px;
    width: 400px;
    height:190px;
    background: #aeff0f;
    z-index: 1;
    transition: 1s;
}
.banner.active:after{
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #151415;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}
.banner.active .content{
    transform: scale(0);
    transform-origin: left;
}
.toggle
{
    position: relative;
    width:30px;
    height: 30px;
    background: url(menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}
.toggle.active
{
    background: url(close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}
.content{
    width: 100%;
    height: 100vh;
}
.banner.active.content{
    transform: scale(0);
    transform-origin: left;
}
#logo{
    position: absolute;
    stroke-width: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 70%;
}
#logo path:nth-child(1){
}
#logo path:nth-child(2){
    stroke-dasharray:194.87867736816406 ;
    stroke-dashoffset:194.87867736816406 ;
    animation: line-anim 2s ease forwards infinite;
}
#logo path:nth-child(3){
    stroke-dasharray:60.21217727661133 ;
    stroke-dashoffset:60.21217727661133 ;
    animation: line-anim 2s ease forwards 0.3s infinite;
}
#logo path:nth-child(4){
    stroke-dasharray:428.7409362792969 ;
    stroke-dashoffset:428.7409362792969 ;
    animation: line-anim 2s ease forwards 0.6s infinite;
}
#logo path:nth-child(5){
    stroke-dasharray:372.2252502441406 ;
    stroke-dashoffset:372.2252502441406 ;
    animation: line-anim 2s ease forwards 0.9s infinite;
}
#logo path:nth-child(6){
    stroke-dasharray:236.07293701171875 ;
    stroke-dashoffset:236.07293701171875 ;
    animation: line-anim 2s ease forwards 1.2s infinite;
}
#logo path:nth-child(7){
    stroke-dasharray:313.2466735839844 ;
    stroke-dashoffset:313.2466735839844 ;
    animation: line-anim 2s ease forwards 1.5s infinite;
}
#logo path:nth-child(8){
    stroke-dasharray:246.9447021484375 ;
    stroke-dashoffset:246.9447021484375 ;
    animation: line-anim 2s ease forwards 1.8s infinite;
}
#logo path:nth-child(9){
    stroke-dasharray:222.40093994140625 ;
    stroke-dashoffset:222.40093994140625 ;
    animation: line-anim 2s ease forwards 2.1s infinite;
}
#logo path:nth-child(10){
    stroke-dasharray:335.35321044921875 ;
    stroke-dashoffset:335.35321044921875 ;
    animation: line-anim 2s ease forwards 2.4s infinite;
}
#logo path:nth-child(11){
    stroke-dasharray:166.92405700683594 ;
    stroke-dashoffset:166.92405700683594 ;
    animation: line-anim 2s ease forwards 2.7s infinite;
}
#logo path:nth-child(12){
    stroke-dasharray:222.4010467529297 ;
    stroke-dashoffset:222.4010467529297 ;
    animation: line-anim 2s ease forwards 3s infinite;
}
#logo path:nth-child(13){
    stroke-dasharray:335.3533020019531 ;
    stroke-dashoffset:335.3533020019531 ;
    animation: line-anim 2s ease forwards 3.3s infinite;
}
@keyframes line-anim{
    to{
        stroke-dashoffset: 0;

    }
}
.content{
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    transform-origin: right;
}
.sci{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.5s;
    transform-origin: right;
}
.banner.active .sci{
    transform: scale(0);
    transform-origin: left;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.6);
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
}
.banner.active .menu{
    visibility: visible;
    opacity: 1;
    transition-delay: 1s;
}
.menu li{
    list-style: none;
}
.menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}
@media(max-width: 991px){
    header{
        padding: 20px 40px;
    }
    .banner{
        padding: 40px;
        overflow: hidden;
    }
    .banner:before{
        top: 100px;
        left: 0;
        width: 170px;
        height: 310px;
    }
    .banner:after{
        bottom: 0;
        right: 0;
        width: 80px;
        height: 200px;
    }
    #logo{
        top: 45%;
        width: 120%;
    }
}